<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:insert="~{base :: parent(~{::title}, ~{::main}, ~{::script}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.name}+' | Profile | CMP'">Profile</title>
    <link rel="stylesheet">
</head>

<body>
    <main class="mt-20">
        <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
            aria-controls="sidebar-multi-level-sidebar" type="button"
            class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                </path>
            </svg>
        </button>

        <!-- Sidebar -->
        <div th:insert="~{user/sidebar}">Sidebar</div>

        <!-- Mian content -->
        <div class="p-4 sm:ml-64" th:object="${user}">
            <!-- Profile Header -->
            <header class="bg-gradient-to-r from-blue-600 to-green-400 text-white py-7 mx-7 h-76 rounded-full">
                <div class="container mx-auto text-center">
                    <div class="flex justify-evenly items-center">
                        <div class="cursor-pointer" title="View Profile Picture" data-modal-target="default-modal"
                            data-modal-toggle="default-modal">
                            <img th:if="*{profilePic == 'user-default.png'}" th:src="@{/images/user-default.png}" alt=""
                                class="w-64 h-64 rounded-full border-4 border-white">
                            <img th:unless="*{profilePic == 'user-default.png'}" th:src="*{profilePic}" alt=""
                                class="w-64 h-64 rounded-full border-4 border-white">
                        </div>
                        <div class="text-start">
                            <h1 th:text="*{name}" class="text-3xl font-semibold">John Doe</h1>
                            <p th:text="*{email}" class="text-gray-200 mt-2">john.doe@example.com</p>
                            <p th:text="*{phoneNumber}" class="text-gray-200 mt-2">0123456789</p>
                        </div>
                    </div>
                </div>
                <a th:href="@{/user/editProfile}"
                    class="absolute top-16 right-4 bg-gray-100 text-blue-600 px-5 py-2 rounded-full shadow-md hover:bg-gray-200 transition duration-300">
                    Edit Profile
                </a>
            </header>

            <!-- User Stats -->
            <section class="container mx-auto py-8 px-6">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    <div class="bg-white p-6 rounded-lg shadow-lg text-center dark:bg-gray-800">
                        <h2 th:text="${session.contactCount}"
                            class="text-2xl font-semibold text-gray-700 dark:text-white">120
                        </h2>
                        <p class="text-gray-500 dark:text-white">Contacts</p>
                    </div>
                    <div class="bg-white p-6 rounded-lg shadow-lg text-center dark:bg-gray-800">
                        <h2 class="text-2xl font-semibold text-gray-700 dark:text-white">5</h2>
                        <p class="text-gray-500 dark:text-white">Calls</p>
                    </div>
                    <div class="bg-white p-6 rounded-lg shadow-lg text-center dark:bg-gray-800">
                        <h2 class="text-2xl font-semibold text-gray-700 dark:text-white">10</h2>
                        <p class="text-gray-500 dark:text-white">Messages</p>
                    </div>
                </div>
            </section>

            <!-- Other details  -->
            <section class="container mx-auto py-16 px-6">
                <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-lg shadow-lg max-w-3xl mx-auto">
                    <p th:text="*{about}">About</p>
                </div>
            </section>

            <!-- Profile pic view modal -->
            <div id="default-modal" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <div class="p-4">
                            <img th:if="*{profilePic == 'user-default.png'}" th:src="@{/images/user-default.png}" alt=""
                                class="h-[85vh]">
                            <img th:unless="*{profilePic == 'user-default.png'}" th:src="*{profilePic}" alt=""
                                class="h-[85vh]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script th:src="@{/js/profilePicView.js}"></script>

</html>