<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:insert="~{base :: parent(~{::title}, ~{::main}, ~{::script}, ~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Contacts | CMP</title>
    <link rel="stylesheet">
</head>

<body>
    <main class="mt-20">
        <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
            aria-controls="sidebar-multi-level-sidebar" type="button"
            class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                </path>
            </svg>
        </button>

        <!-- Sidebar -->
        <div th:insert="~{user/sidebar}">Sidebar</div>

        <!-- Mian content -->
        <div class="p-4 sm:ml-64">

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <div
                    class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
                    <div id="contactCount" class="px-6 w-fit">
                        Total Contacts : <span th:text="${contacts.totalElements}" class="mx-2"></span>
                    </div>
                    <div class="flex gap-5 items-center">
                        <div>
                            <button type="button" onclick="exportData()" title="export"><i
                                    class="fa-solid fa-file-export"></i></button>
                        </div>
                        <form th:action="@{/user/contacts/searchContacts}" method="POST" modelAttribute="text"
                            class="flex gap-3 px-7">
                            <div class="relative">
                                <div
                                    class="absolute inset-y-0 rtl:inset-r-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input type="text" name="text" id="search-contact"
                                    class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Search for users">
                            </div>
                            <button type="submit" title="Search"
                                class="bg-gray-200 w-10 rounded-xl border border-gray-300 dark:bg-gray-600 dark:border-gray-500">
                                <i class="fa-solid fa-search"></i>
                            </button>
                        </form>
                        <!-- For fetch api -->
                        <!-- <button type="button" onclick="searchUsers()" title="Search">
                            <i class="fa-solid fa-search"></i>
                        </button> -->
                    </div>
                </div>
                <table id="contact-table"
                    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="ps-2 py-3">
                                Profile Pic
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Number
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Address
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:object="${c}" th:each="c : ${contacts}"
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="ps-5">
                                <img th:src="*{pic}" class="w-10 h-10 mr-3 rounded-full" alt=""
                                    onerror="src='/images/user-default.png'">
                            </td>
                            <td class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <div th:text="*{name}" class="text-base font-semibold">Subhrajyoti Biswal</div>
                            </td>
                            <td th:text="*{phone}" class="px-6 py-4">
                                8339828210
                            </td>
                            <td th:text="*{email}" class="px-6 py-4">
                                subhrajyoti@gmail.com
                            </td>
                            <td th:text="*{address}" class="px-6 py-4">
                                Bengaluru
                            </td>
                            <td class="px-2 py-4">
                                <!-- Modal toggle -->
                                <!-- Make favorite -->
                                <a th:href="@{'/user/contacts/makeFavorite/' + *{cid}}" th:if="*{favorite == true}"
                                    class="font-medium hover:text-gray-800" title="Favorite">
                                    <i class="fa-solid fa-heart text-red-600"></i>
                                </a>
                                <a th:href="@{'/user/contacts/makeFavorite/' + *{cid}}" th:unless="*{favorite == true}"
                                    class="font-medium hover:text-gray-800" title="Favorite">
                                    <i class="fa-regular fa-heart"></i>
                                </a>

                                <!-- View Contact info -->
                                <!-- loadContactInfo([[${c.cid}]]) or th:contactId="${c.cid}" th:onclick="loadContactInfo(this.getAttribute('contactId'))" -->
                                <button th:onclick="loadContactInfo([[${c.cid}]])" type="button"
                                    data-modal-target="edit-Contact-Modal" data-modal-show="edit-Contact-Modal"
                                    class="font-medium ms-5 hover:text-gray-800" title="View">
                                    <i class="fa-solid fa-eye"></i>
                                </button>

                                <!-- Edit contact -->
                                <a th:href="@{'/user/contacts/editContact/' + *{cid}}"
                                    class="font-medium ms-5 hover:text-gray-800" title="Edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <!-- Delete contact -->
                                <!-- <button type="button" th:onclick="deleteContactClicked([[${c.cid}]])"
                                    class="font-medium ms-5 hover:text-gray-800" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button> -->
                                <!-- Use if you are using modals and api calling -->
                                <button type="button" data-modal-target="delete-contact-modal"
                                    data-modal-show="delete-contact-modal"
                                    th:onclick="deleteContactClicked([[${c.cid}]])"
                                    class="font-medium ms-5 hover:text-gray-800" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal for Editing User -->
            <div th:insert="~{user/view-contact::editContactModal}"></div>

            <!-- Modal for Deleting User -->
            <!-- Use modal if using api calling -->
            <div th:insert="~{user/delete-contact::deleteContactModal}"></div>

            <!-- Pagination -->
            <div th:if="${contacts.totalPages > 1}" class="w-full flex justify-center">
                <nav aria-label="Page navigation example" class="my-6">
                    <ul class="inline-flex -space-x-px text-sm">
                        <li>
                            <a th:if="${contacts.first}"
                                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-300 bg-white border border-e-0 border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200">Previous</a>
                            <a th:unless="${contacts.first}" th:href="@{'?page='+${contacts.number-1}}"
                                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        </li>
                        <li th:each="index: ${#numbers.sequence(0, contacts.totalPages-1)}">
                            <a th:href="@{'?page='+${index}}" th:text="${index+1}"
                                th:classappend="${index==contacts.number ? 'bg-blue-200 dark:bg-gray-900' : 'bg-white dark:bg-gray-800'}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                        </li>
                        <li>
                            <a th:if="${contacts.last}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-300 bg-white border border-gray-300 rounded-e-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200">Next</a>
                            <a th:unless="${contacts.last}" th:href="@{'?page='+${contacts.number+1}}"
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </main>
</body>
<script th:src="@{/js/contact.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>

</html>