<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:insert="~{base :: parent(~{::title}, ~{::main}, ~{::script}, ~{::link})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <main class="mt-20">
        <!-- Hero Section -->
        <section id="hero" class="flex flex-col gap-1 justify-center">
            <div class="bg-gradient-to-b from-blue-600 to-blue-200 text-white py-20 rounded-b-[50%]">
                <div id="welcome" class="container mx-auto px-6 text-center">
                    <h2 class="text-4xl font-bold mb-4">Effortlessly Manage Your Contacts</h2>
                    <p class="text-lg mb-6">Keep all your contacts organized, updated, and accessible at any time.</p>
                    <a th:href="@{/login}"
                        class="px-6 py-3 bg-white text-blue-600 font-semibold rounded-lg shadow-md hover:bg-gray-100">Get
                        Started</a>
                </div>
            </div>

            <!-- Carousel slider-->
            <div id="default-carousel" class="relative w-[80%] m-auto" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img th:src="@{/images/slider_1.png}"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img th:src="@{/images/slider_2.png}"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img th:src="@{/images/slider_3.png}"
                            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                    </div>
                </div>
            </div>

        </section>

        <!-- Features Section -->
        <section id="features" class="container mx-auto px-6 py-20 grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg text-center dark:bg-gray-700">
                <h3 class="text-2xl font-semibold text-blue-600 mb-2 dark:text-blue-500">Easy Contact Management</h3>
                <p class="text-gray-700 text-justify dark:text-white">Simplify the process of organizing your contacts
                    with intuitive
                    tools that
                    allow you to add, update, and delete contact information effortlessly. Our streamlined interface
                    makes it easy to keep track of essential details, ensuring you can quickly find and manage each
                    contact without hassle. With everything in one place, you'll stay organized and connected with
                    minimal effort.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg text-center dark:bg-gray-700">
                <h3 class="text-2xl font-semibold text-blue-600 mb-2 dark:text-blue-500">Organize Your Contacts</h3>
                <p class="text-gray-700 text-justify dark:text-white">Keep your contacts neatly organized by grouping,
                    tagging, and
                    categorizing them
                    according to your preferences. Whether by personal, professional, or custom categories, you’ll have
                    the flexibility to structure your contacts in a way that suits your needs. This feature makes
                    finding and managing contacts quick and easy, so you're always one step ahead in staying connected.
                </p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg text-center dark:bg-gray-700">
                <h3 class="text-2xl font-semibold text-blue-600 mb-2 dark:text-blue-500">Stay Connected</h3>
                <p class="text-gray-700 text-justify dark:text-white">Strengthen your relationships by keeping all your
                    contact
                    information
                    up-to-date and easily accessible. With reminders for follow-ups and streamlined contact
                    organization, you'll never miss an opportunity to connect with those who matter most. Stay in touch,
                    build networks, and foster meaningful connections effortlessly.</p>
            </div>
        </section>
        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-6">
            <div class="container mx-auto px-6 text-center">
                <p>&copy; 2024 Connexio.org. All Rights Reserved.</p>
            </div>
        </footer>
    </main>
</body>
<script></script>

</html>